version: '3.8'

services:
  ros_jazzy:
    build:
      context: .
      dockerfile: Dockerfile
    image: rpi-ros-jazzy:latest
    container_name: ros_jazzy_container
    stdin_open: true
    tty: true
    network_mode: host
    privileged: true
    environment:
      - DISPLAY=${DISPLAY:-:0}
      - ROS_DOMAIN_ID=${ROS_DOMAIN_ID:-0}
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
      - ./workspace:/opt/ros_ws/src
      - /dev:/dev
    devices:
      - /dev/video0:/dev/video0  # Camera access if available
    working_dir: /opt/ros_ws
    command: bash