version: '3.8'

services:
  robotics:
    build: .
    image: rpi-robotics:latest
    container_name: rpi-robotics-dev
    volumes:
      - ./robotics_workspace:/ros_ws
      - /dev:/dev
    privileged: true
    network_mode: host
    environment:
      - DISPLAY=${DISPLAY}
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
